# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# IDE0160: Convert to block scoped namespace
dotnet_diagnostic.IDE0160.severity = silent

# Properties can hug each other, it's ok, I promise.
dotnet_diagnostic.SA1516.severity = silent

# I don't give a shit about file headers
dotnet_diagnostic.SA1633.severity = silent

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = silent

[GlobalUsings.cs]
dotnet_diagnostic.SA1200.severity = silent
